<div class="container">
  <div class="company-container">
    <ng-container class="app-name">
      <div class="heading-circle">
        <h1>To-Do List</h1>
      </div>
    </ng-container>
    <ol>
      <li>Organize and prioritize your tasks.</li>
      <li>Track progress with your personalized dashboard.</li>
      <li>Set deadlines and never miss a due date.</li>
      <li>Stay on top of your tasks with reminders.</li>
      <li>Add and edit tasks with ease.</li>
      <li>Visualize your progress with charts and stats.</li>
    </ol>
    <div class="end-shape"></div>
  </div>
  <div class="form-container">
    <app-login-form></app-login-form>
  </div>
</div>
